@tailwind base;
@tailwind components;
@tailwind utilities;

/* PPA Theme */
.ppa-content { padding: 0px 0px 0px 288px; background-color: #F9F9F9; }

/* Login Page */
.ppa-cover { background-size: 120% 220%; background-repeat: no-repeat; background-position: 82% 16%; }
.ppa-col { background-color: rgba(255, 255, 255, 0.85); }
.login-title { font-size: 35px; font-weight: 700; text-align: center; }

/* Side Bar */
.bg-ppa-themecolor { background-color: #132E51; }
.not-minimized { padding: 0px 30px; height: 100vh; }
.minimized { height: 100vh; padding: 0px 20px; }
.sidebar-close { width: 4%; padding: 0px; }
.adjust-content { padding: 0px 0px 0px 75px; }
.text-title { font-size: 30px; text-transform: uppercase; color: #fff; padding-bottom: 10px; border-bottom: 2px solid; }
.first-letter { font-size: 40px; font-weight: 900; }
.logout-area { position: absolute; bottom: 0; }
.ppa-hamburger { width: 24px; right: 80px; top: 31px; position: absolute; }
.ham-haha { font-size: 20px; color: #000; }

/* Forms */
input:focus, textarea:focus {
  outline: 2px solid transparent !important;
  outline-offset: 2px !important;
  --tw-ring-inset: var(--tw-empty) !important;
  --tw-ring-offset-width: 0px !important;
  --tw-ring-offset-color: #fff !important;
  --tw-ring-color: #4A6589 !important;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow) !important;
  border-color: #4A6589 !important;
}
.form-label { font-size: 20px; }
.ppa-form { border: 1px solid #808080; border-radius: 5px; padding: 10px; }

/* Widgets */
.ppa-widget { border: 1px solid #cecece; }
.ppa-widget-title { background-color: #132E51; color: #fff; padding: 6px 10px; font-size: 20px; }

/* Widgets Icons */
.ppa-system-abbr { position: relative; font-size: 40px; font-weight: 900; text-align: center; margin-top: 10px; }
.ppa-system-text { text-align: center; font-size: 20px; }
.image-icon { position: absolute; width: auto; height: 60px; left: 40px; }
.ppa-system-link { background-color: rgba(0, 0, 0, .1); text-align: center; margin-top: 10px; padding: 5px 0px; font-weight: 900;}


/* Scroll for widgets */
.ppa-div-table::-webkit-scrollbar-track { border-radius: 10px; background-color: transparent; }
.ppa-div-table::-webkit-scrollbar { width: 10px; background-color: transparent; }
.ppa-div-table::-webkit-scrollbar-thumb { border-radius: 10px; background-color: transparent; transition: width 3s ease; }
.ppa-div-table:hover::-webkit-scrollbar-thumb { background-color: #4A6589; transition: width 3s ease; }

/* Table */
.ppa-table tbody tr:nth-child(odd) { background-color: #ebf3f9; }
.ppa-div-table { padding: 10px; }